# Node dependencies (EAS will install them itself)
node_modules

# Local build outputs
dist
build
android/app/build
ios/build
ios/Pods
/ios

# Metro / bundler cache
.expo
.expo-shared
.expo-dev
.expo-packager-cache
.expo-cli
.expo-go
.expo-local

# OS junk
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-error.log*
*.log

# Environment files (keep secrets out!)
.env
.env.local
.env.development
.env.production
.env.*.local

# TypeScript build cache
*.tsbuildinfo

# Temporary / IDE
.vscode
.idea
*.iml

# Tests
coverage
jest-cache
__tests__
__mocks__

# Others (optional but recommended)
*.apk
*.aab
*.ipa
*.xcuserstate
*.xcworkspace
